.nm-home-page-sidebar-footer {
    width: 312px;
    height: 96px;
    padding: 8px;
    gap: 24px;
    background: rgba(13, 15, 16, 1);
}

.nm-home-page-sidebar-footer-user {
    width: 296px;
    height: 80px;
    padding: 16px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(117.58deg, rgba(215, 237, 237, 0.16) -47.79%, rgba(204, 235, 235, 0) 100%),
                linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.nm-home-page-sidebar-footer-user-info {
    width: 134px;
    height: 48px;
    gap: 16px;
    background: transparent;
    display: flex;
    align-items: center;
}

.nm-home-page-sidebar-footer-user-info-avatar {
    background: transparent;
    display: flex;
    align-self: center;
}

.nm-home-page-sidebar-footer-user-info-name {
    width: 70px;
    height: 46px;
    background: transparent;
    width: 71px;
    height: 46px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.nm-home-page-sidebar-footer-user-info-name .nm-para-1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    border-radius: 0px;
    background: transparent;
    width: 70px;
    height: 24px;
}

.nm-home-page-sidebar-footer-user-info-name .nm-para-2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: rgba(182, 240, 156, 1);
    border-radius: 0px;
    background: transparent;
}

.nm-cog {
    width: 16px;
    height: 16px;
    padding: 0px, 4px, 0px, 4px;
    border-radius: 0px;
    background: transparent;
    display: flex;
    align-self: center;
}

.nm-cog .nm-cog-icon {
    background: transparent;
}