.Cards{
    width:100%;
    display: flex;
    padding: 1rem;
    margin: 1.25rem 0rem;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
    border-radius: 1rem;
    border: 1px solid var(--sec-background-color);
    background-color: var(--background-color);
}

.Cards .LI-cardavatar{
    display: flex;
    width: 3rem;
    height: 3rem;;
    padding: 0rem ;
    justify-content: flex-end;
    align-items: center;
    border-radius: 1.25rem;
}
/* 
.Card .LI-cardcontent{
    display: flex;
    padding: 0.5rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
} */

.Cards .LI-LEEN{
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.Cards .LI-cardname{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

}


.Cards .LI-cardname .LI-cardtitle{
    color:var(--main-text-color);
    text-align: center;
    padding-left: 1.5rem;

    /* Body/L/SemiBold */
    font-family: Plus Jakarta Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.00938rem;
}

.Cards .LI-cardname .LI-cardaction{
    color: var(--span-text-color);
    text-align: center;
    /* Body/S/Medium */
    font-family: Plus Jakarta Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem; /* 150% */
    letter-spacing: 0.00938rem;
 }

.Cards .LI-cardicon{
    display: flex;
    width: 5rem;
    height: 5rem;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    border-radius: 0.5rem;
    color: aqua;
}

.Card  .LI-carddisc{
    width: 100%;
    height: auto;
    align-self: stretch;
    color: var(--p-text-color);
    text-align: left;
    /* Body/L/Medium */
    font-family: Plus Jakarta Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.00938rem;
 }
.Card .LI-container{
    display: flex;
    padding: 0.5rem 0rem;
    margin-right: 2rem;
    align-items: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex: 1 0 0;
}
/* @media (min-width: 768px) {
    .Card .LI-container {
      flex-direction: column;
  
    }
  }
  @media (min-width: 992px) {
    .Card .LI-container {
       
  
    }
  }
  @media (min-width: 1200px) {
    .Card .LI-container {
      
    }
  } */

.Card .LI-container img{
    display: flex;
    height: 11.5625rem;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 0;
    border-radius: 1rem;
   
}

.Card .LI-btn{
    display: flex;
    gap: 0.5rem;
}

.Card .LI-btn .LI-btn1{
    display: flex;
    height: 2rem;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    border-radius: 0.5rem;
    background: var(--sec-background-color);
    color: var(--p-text-color);
    /* Body/S/SemiBold */
    font-family: Plus Jakarta Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem; /* 150% */
    letter-spacing: 0.00938rem;
}

.Card .LI-btn .LI-btn2{
    display: flex;
    height: 2rem;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.125rem;
    border-radius: 0.5rem;
    background: var(--sec-background-color);
    color: var(--p-text-color);
    /* Body/S/SemiBold */
    font-family: Plus Jakarta Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem; /* 150% */
    letter-spacing: 0.00938rem;
}
.Card .LI-btn .LI-btn2 svg{
    width: 1rem;
    height: 1rem;
}